.container{
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    margin: 20px auto;
}

.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

.imageupload progress{
    width: 100%;
    padding: 10px;
}

/* Media queries */
/* Screen width less then 768px */
@media screen and (max-width: 768px){
    .imageupload{
        width: 80%;
    }
}

/* Screen width less then 480px */
@media screen and (max-width: 480px){
    .imageupload{
        width: 94%;
    }
}